{% extends "layout.html" %}

{% load static %}

{% block content %}

<section class="home-header">
        <div class="home-header-wrapper">
                <h1>Bienvenue sur Mercadona</h1>
                <p>Retrouvez ici votre nouveau catalogue en ligne</p>
        </div>
</section>

<section class="home-text">
        <p>Chez <b>Mercadona</b>, nous sommes conscients des enjeux écologiques. Terminé les flyers qui finissent à la poubelle !
        <p>Parce que nous souhaitons toujours nous améliorer, nous vous proposerons bientôt un service d'achat en ligne.</p>
        <p>En attendant, n'hésitez-pas à nous rendre visite dans l'un de nos magasins afin de retrouver tous vos produits préférés.</p>
        <p>À très bientôt chez Mercadona.</p>
</section>

{% endblock %}
